# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=CHANGE_ME_TO_A_RANDOM_SECRET_KEY
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=https://votre-domaine.univ-littoral.fr
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:5432/DB_NAME?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
# Exemple SMTP : smtp://user:password@smtp.univ-littoral.fr:587?encryption=tls
MAILER_DSN=smtp://SMTP_USER:SMTP_PASSWORD@SMTP_HOST:587
###< symfony/mailer ###

###> symfony/mercure ###
MERCURE_URL=http://localhost:3000/.well-known/mercure
MERCURE_PUBLIC_URL=https://votre-domaine.univ-littoral.fr/.well-known/mercure
MERCURE_JWT_SECRET=CHANGE_ME_TO_A_SECURE_KEY_32_CHARS_MIN
###< symfony/mercure ###
