{% extends "base.html.twig" %}

{% block title %}Déposer une annonce - ULC'OCCAZ{% endblock %}

{% block body %}
    {# Composant React pour le formulaire #}
    <div {{ react_component('AnnonceForm') }}></div>
{% endblock %}
